.navbar {
    background-color: #1E3A8A;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #eee;
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #6D28D9;
  }
  