.footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #1E3A8A;
    color: #FFFFFF;
  
  }
  
.footer a {
    color: #FFFFFF;
}
.footer a:hover {
    color: #6D28D9;
}
