.footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background-color: #1E3A8A;
    color: #FFFFFF;
    text-align: center;
    padding: 16px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
.footer a {
    color: #FFFFFF;
}
.footer a:hover {
    color: #6D28D9;
}
