
body {
    margin: 0;
    background-color: #390851;
    color: #1E1E1E;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color: #1E3A8A;
    text-decoration: none;
}

a:hover {
    color: #6D28D9;
}

.section-title {
    color: #6D28D9;
}

p{
    justify-content: center;
    text-align: center;
}
